.logos {
    width: 100%;
    margin-bottom: 4%;
    padding: 0;
    position: relative;
}
.left_float * {
    position: absolute;
    left: 0;
    width: 15%;
    transform: translateY(-50%);
    top: 50%;
}
.right_float * {
    position: absolute;
    right: 0;
    width: 6%;
    transform: translateY(-50%);
    top: 50%;
}

.right_float1 * {
  position: absolute;
  right: 7%;
  width: 5%;
  transform: translateY(-50%);
  top: 50%;
}
.left_float2 * {
    position: absolute;
    left: 16%;
    width: 15%;
    transform: translateY(-50%);
    top: 50%;
}
#gameContainer, #unityContainer {
        width: 960px;
        height: 600px;
      }
@media only screen and (min-width: 768px) {
      #gameContainer, #unityContainer {
        width: 900px;
        height: 550px;
      }
    }


    .webgl-content {
      margin-top: 3%;
  }